$('.notification').hide();

$('.game_board').html("#{ escape_javascript(render(:partial => 'game_board', :locals => {rows: @rows, cols: @cols, my_turn: @my_turn, session_id: @session_id, my_color: @my_color})) }");



