// Place all the styles related to the games_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notifications-container {
  font-size: 15px;
  color: blue;
  font-weight: bold;
  text-shadow: 0px 0px 0px #fff,1px 1px 0em #fff;
}

.create-room-panel {
  padding:10px;
  margin: 10px;
  border: 10px solid lightgrey;

  .input-title {
    display: inline-block;
    width: 130px;
  }
}

.green {
  background-color: green!important;
}

.game-board {

}

/*not the best place to put this*/
.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  cursor: pointer;
}

.selected_cell_1 {
  background-color: red;
}
.selected_cell_2 {
  background-color: black;
}